<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="testBean"
          class="com.wild.spring.test1.TestBean">
        <!--        Передает значение в конструктор-->
        <constructor-arg value="Andrey"/>
    </bean>

    <bean id="musicBean"
          class="com.wild.spring.test2.ClassicalMusic">
<!--либо  class="com.wild.spring.test2.RockMusic">-->
<!--        class="com.wild.spring.test2.RapMusic">-->
<!--        просто Music указывать нельзя, т.к. из интерфейса нельзя создать объект-->
    </bean>

    <bean id="musicPlayerBean"
          class="com.wild.spring.test2.MusicPlayer">
<!--        Добавляем в конструктор ссылку (ref) на бин "musicBean"-->
        <constructor-arg ref="musicBean"/>
    </bean>


</beans>